// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pattaya|Philosopher&subset=cyrillic');
@font-face {
  font-family: 'fontello';
  src: asset-url('fontello.eot?82716732');
  src: asset-url('fontello.eot?82716732#iefix') format('embedded-opentype'),
  asset-url('fontello.woff?82716732') format('woff'),
  asset-url('fontello.ttf?82716732') format('truetype'),
  asset-url('fontello.svg?82716732#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
$size: 30px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}
p.shared {
  text-align: center;
  margin-top: 30px;
}

.social-share-button {
  text-align: center;
  margin-top:10px;
  padding-bottom: 25px;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



body {
  margin: 0;
  /* background: rgba(134, 188, 193, 0); */
  min-width: 1000px;
}
html {
  -webkit-text-size-adjust: none;
}

.text_inner {
  position: relative;
}
#light_gallery {
  background: black;
  cursor: pointer;
}
.feadback_list {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 50px;
  .bord {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 80%;
    img {
      width: 60%;
      margin: 0 auto;
      display: block;
    }
  }
  .feadback_item {
    span {
      font-family: open-sans, sans-serif;
    }
    .feadback_avatar {
      width: 94px;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      float: left;
      margin-right: 20px;
    }
    span.title {
      font-size: 20px;
      font-weight: 600;
      color: cadetblue;
      margin-bottom: 15px;
      display: block;

    }
    span.name {
      font-size: 19px;
      font-weight: 600;
    }
    .name_user {
      margin-bottom: 8px;
    }
    span.date {
      float: right;
    }
  }
}
.bord{

  width: 1000px;
  margin:0 auto;
  margin-top: 40px;
  margin-bottom:0;
  img {
    width:100%;
    height: 45px;
  }
  /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}
.fade .im{
  width:100%;
  height:679px;
  background-size: cover;
}

#program .down{
  height:0;
}
#program{
  /* height:4000px; */
  overflow: hidden;
}
#program .block{
  /* float:left; */
  /* width: 350px; */
  /* margin: 0 74px; */
  margin-left: 244px;
  margin-bottom: 50px;
  display: none;
}
#program .block:nth-child(2) .head,#program .block:nth-child(2) .h{margin-left: -180px;}
#program .block:nth-child(10) .head,#program .block:nth-child(10) .h{margin-left: -203px;}
#program .block:nth-child(2) img{
  margin-top: -45px;
}
#program .block:nth-child(3) img{
  margin-top: 37px;
}
#program .block:nth-child(4) img{
  margin-top: 12px;
}
#program .block:nth-child(5) img{
  margin-top: -25px;
}
#program .block:nth-child(6) img{
  margin-top: -24px;
}
#program .block:nth-child(7) img{
  margin-top:10px;
}
#program .block:nth-child(8) img{
  margin-top: 15px;
}
#program .block:nth-child(9) img{
  margin-top:10px;
}
#program .block:nth-child(10) img{
  margin-top: -38px;
}
#program .block:nth-child(11) img{
  margin-top: -41px;
}

#program .block:nth-child(2){
  margin-top:1px;

}
#program .block:nth-child(2n+1) img{
  margin-left: 451px;
}
#program .block:nth-child(2n+1){
  /* height: 551px; */
  margin-left: 170px;
}
#program .block:nth-child(2n){
  margin-left: 357px;
}
#program .block:nth-child(2){
  margin-bottom: 83px;
}
#program .block:nth-child(3){
  margin-bottom: 24px;
}
#program .block:nth-child(4){
  margin-bottom: 43px;
}
#program .block:nth-child(5){
  margin-bottom: 71px;
}
#program .block:nth-child(6){
  margin-bottom: 69px;
}
#program .block:nth-child(7){
  margin-bottom: 42px;
}
#program .block:nth-child(8){
  margin-bottom: 34px;
}
#program .block:nth-child(9){
  margin-bottom: 71px;
}
#program .block:nth-child(10){
  margin-bottom: 54px;
}
#program .block:nth-child(11){
  margin-bottom: 83px;
}
#program .block:nth-child(2n) .text{
  margin-left: 134px;
}
#program .block:nth-child(2n+1) .text{
  margin-left: -61px;
}
#program .block .text{
  width: 400px;
}
#program .block:nth-child(9){
  /* height: 541px; */
}
#program .block img{
  width: 211px;
  border-radius: 50%;
  position: absolute;
  margin-left: -167px;
  /* float: left; */
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.wrapper{
  width: 1000px;
  margin: 0 auto;
  position:relative;
  /* padding-left: 10px; */
  /* overflow: hidden; */
}
.retreat {
  padding-top: 60px;
}
.about_wrapper {
  position: relative;
  z-index: 1;
  padding-bottom: 60px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  margin-bottom: 20px;
  &:before {
    content: '';
    background: #FFFFFF url(fon23.jpg) no-repeat left top;
    background-size: cover;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
  }
}
#gallery {
  margin-top: 30px;
  padding-bottom: 50px;
  display: none;
}
#info .wrapper, #price .wrapper{
  width: 790px;
}
#info  .wrapper{
  /* border-bottom:1px solid */
  width: 900px;


  /* margin-top: 683px; */
}
footer h6{
  text-align: center;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  margin-top: 8px;
  color: #6B6B6B;
  font-size: 16px;
}
footer .contact h6:nth-child(1){
  margin-top: 22px;
}
footer .img{
  width: 300px;
  height: 300px;
  border-radius: 150px;
  overflow: hidden;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
footer .img:hover{
  opacity:0.9;
}
footer .contact a{
  text-decoration:none;
  color:black;
}
p{
  line-height: 20px;
  font-size: 17px;
  text-align: justify;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Philosopher', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Tenor Sans', sans-serif; */
}
h1{
  /* line-height: 79px; */
  font-size: 94px;
  text-align: center;
  font-family: open-sans, sans-serif;
  font-family: 'Lobster', cursive;
  /* font-family: 'Rubik One', sans-serif; */
  font-family: 'Pattaya', sans-serif;
  /* font-weight: 800; */

  /* text-transform: uppercase; */
  color: white;
  margin-bottom: 9px;
}
h3{
  color: #000000;
  line-height: 47px;
  font-size: 36px;
  text-align: center;
  font-family: open-sans, sans-serif;
  font-family: 'Pattaya', sans-serif;
  /* font-weight: 700; */
  text-transform: capitalize;
  /* margin-top: 43px; */
  padding-top: 22px;
  margin-bottom: 25px;
  font-family: 'Merriweather', serif;
  font-family: 'Philosopher', sans-serif;
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Tenor Sans', sans-serif; */
}
#program h3{
  margin-bottom: 26px;
}
.up:hover {
  color: #f4003e;
}
.up {
  text-align: center;
  color: #5e92cb;
  font-style: italic;
  font-weight: bold;
  line-height: 21px;

  font-size: 18px;

  cursor: pointer;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
#program .box{
  width: 800px;
  height:201px;
  box-sizing: border-box;
  margin:0 auto;
  border: 1px solid #8f8c8c;
  margin-bottom: 30px;
  position: relative;
  /* border-radius: 52%; */
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#program .box:nth-child(3) img, #program .box:nth-child(5) img, #program .box:nth-child(7) img{
  float:right;
}

#program .box:nth-child(3) .b,#program .box:nth-child(5) .b, #program .box:nth-child(7) .b{
  left: 475px;
}
#program .box .text{
  width: 460px;
  float: left;
  margin-left: 20px;
  z-index: 2;
  position: relative;
}
#program .last_child {
  .text {
    width: auto;
    padding: 10px 30px;
    margin-left: 0;
    .head {
      margin-bottom: 5px!important;
    }
  }
  .under {
    text-align: center;
    display: block;
    margin-bottom: 13px;
    font-family: open-sans;
  }
}
#program .detail{
  /* width:0px; */
  /* overflow:hidden; */
  /* position: relative; */
  display: none;
  height: 2683px;
  margin-top: 80px;
}
#program .box .text .head{
  margin-top:16px;
  font-family: open-sans, sans-serif;
  font-size: 19px;
  margin-bottom: 9px;
}
.text_all {
  display: none;
  position: absolute;
  background: white;
  padding: 0px 20px;
  z-index: 15;
  width: 479px;
  right: -35px;
  bottom: -11px;
  border: 1px solid #8f8c8c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
}
#program {
  .text_all {

  }
}
#program .box img{
  width:300px;
  height: 200px;
  float: left;
}
#program .box .b{
  width: 40px;
  height: 40px;
  background:white;
  position:absolute;
  transform: rotate(45deg);
  left: 285px;
  top: 79px;
  z-index: 1;
}
h5 {
  color: #FFFFFF;
  /* font-weight: 800; */
  line-height: 47px;
  font-size: 36px;
  text-align: center;
  font-family: open-sans, sans-serif;
  font-family: 'Pattaya', sans-serif;
  /* text-transform:uppercase; */
  margin-bottom: 11px;
}
h4{
  color: #FFFFFF;
  line-height: 47px;
  font-size: 46px;
  text-align: center;
  font-family: open-sans, sans-serif;
  font-family: 'Pattaya', sans-serif;
  /* font-weight: 800; */
  /* margin-top: 11px; */
}
#foto img{
  width: 100% !important;
}
#foto .image{
  float: left;
  width: 25%;
  overflow: hidden;
}
#foto{
  /* height: 426px; */
  /* overflow: hidden; */
}
#foto .thumbs{
  /* width:50%; */
}
#foto .cont{
  /* position:absolute; */
  /* z-index: 999999; */
  /* box-shadow: 0 0 16px rgba(0,0,0,0.5); */
}
header h1,header h5,header h4{
  color: #f2f146;
}

.slick-slider {
  margin-bottom: 0 !important;
}

#fixed .fon{
  width:100%;
  height:56px;
  position:absolute;
  background-color: #000000;
  opacity: 0.8;
}
#fixed{
  width: 100%;
  z-index: 521;
  height: 56px;
  /* background-color: #000000; */
  /* opacity: 0.8; */
  font-family: 'Open Sans', sans-serif;
  /* font-family: sans-serif; */
  position: fixed;
  z-index: 999;
}
#fixed .nav a:hover{
  color:#f2f146;
  transform: scale(1.25);
}
#fixed .nav a{
  color: #FFFFFF;
  text-align: center;
  /* font-family: sans-serif; */
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 21px;
  margin-right: 54px;
  margin-top: 15px;
  display: block;
  float: left;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}

#fixed .phone i{
  position:relative;
  /*! left: 0; */
  right: 13px;
  top: 0px;
}
p.star {
  font-style: italic;
  clear: both;
  text-align: center;
  font-size: 14px;
  padding-top: 8px;
}

#fixed .mail i{
  position:relative;
  right: 13px;
  top: 0;
}
#fixed .phone i:before{
  content:'\f232';
  font-family:fontello;
  color: #f2f146;
  font-size: 21px;
  /* margin-right: 11px; */
  /* position: absolute; */
  /* left: -34px; */
}
#fixed .mail i:before{
  content:'\e800';
  font-family:fontello;
  color: #f2f146;
  font-size: 17px;
  /* margin-right: 4px; */
  /* position: absolute; */
  /* left: -21px; */
}
#fixed .mail p{
  display:block;
  float:right;
  font-size: 15px;
}
#fixed .phone a{
  text-decoration: none;
  color: white;
  margin-left: 0px;
}
#fixed {
  .contact_inner {
    float: right;
    margin-top: 6px;
  }
  .mail {
    color: white;
  }
}
#fixed {
  img {
    float: left;
    width: 45px;
    margin-top: 5px;
    margin-right: 40px;
  }
}
.up_window {
  font-family: fontello;
  font-size: 41px;
  position: fixed;
  color: yellow;
  bottom: 108px;
  right: 100px;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
  opacity: 0;
  text-shadow: 0px 1px 2px #444343;

}

.ug-thumb-wrapper.ug-tile.ug-tile-clickable {
  border: 3px solid #e2e2e6;
}
header .text{

  position:absolute;
  z-index: 998;
  /* top: -451px; */
  bottom: 58px;
  width: 980px;
  color: green;
  text-shadow: 0px 2px 2px rgb(68, 67, 67);
  h4 {
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
  }
  .footer {
    color: #bfbe27;
  }
}
header {
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  overflow: hidden;
  margin-bottom: 30px;
  h5.margin_top {
    margin-top: -8px;
  }
  h1 {
    margin-bottom: 25px;
  }
  .fade {
    opacity: 0;
  }
}
.void{
  width:100%;
  height: 700px;
}

header .text img{
  width: 127px;

  position:relative;
  margin: 0 auto;
  left: 437px;
  /* opacity: 0.85; */
  /* display: none; */
}
header .line{
  width: 134px;
  height: 4px;
  background-color: #f2f146;
  position:absolute;
  top: 270px;
  left: 61px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header .left{
  right: 61px;
  left: auto;
}
header .ober{
  /* position:absolute; */
  /* margin-bottom:683px; */
  /* width: 1903px; */
  margin: 0 auto;
  /* height: 683px; */
  overflow: hidden;
  /* box-shadow: 0 0 25px rgba(0,0,0,0.5); */
}
header .pat{
  width:100%;
  height:682px;
  /* background: transparent url(../img/pattern.png) repeat top left; */
  position:absolute;
  z-index:99;
  /* display: none; */
}
.ober{
  background: white;
}
#program{
  /* margin-top: 500px; */
  /* z-index: -1; */
  /* position: static; */
}
#price{
  background: url(progr.jpg) no-repeat center center;
  color: white;
  background-size: cover;
  h6 {
    font-style: italic;
    color: white;
  }
}

#price .pull-left{width: 48%;float: left;margin: 15px;margin-left: 35px;}
#price .pull-right{
  margin: 15px;
  float: left;
  width: 317px;
}
#price .cont{border: 1px solid #f2f146;overflow: hidden;}
#price h3{
  color:white;
  padding-top: 44px;
}
#price h6{text-align: center;font-family: open-sans, sans-serif;font-weight: 400;letter-spacing: 0.8px;margin-bottom: 20px;}
#price h6:nth-child(3){
  margin-top: -13px;
}
ul{list-style: disc;margin-left: 17px;}
#program ul{
  /* display:block; */
  /* margin-left: 223px; */
  list-style: none;
  list-style-type: decimal-leading-zero;
  list-style-type: upper-roman;
  list-style-type: decimal;
}
li{
  line-height: 1;
  line-height: 20px;
  font-family: open-sans, sans-serif;
  font-weight: 400;
}
#price	a{
  color: white;
}
.head{
  font-weight: bold;
}
#program .head, #program .h{
  /* margin-left: 41px; */
  /* display: block; */
  font-size: 20px;
  /* margin-top: 14px; */
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}
#program .h{
  font-weight: bold;
  text-align: center;
  margin-top: -16px;
  /* margin-left: 34px; */
}
#price .foot{
  margin-top: 14px;
  /* margin-bottom: 47px; */
  padding-bottom: 52px;
  width: 800px;
}
.foot p{
  text-align: center;
  font-style: italic;
  line-height: 21px;
  margin-bottom: 0;
  font-size: 14px;
}

.about_me {
  width: 91%;
  margin: 0 auto;
  p {
    text-indent: 27px;
    line-height: 22px;
  }
  .avatar_face {
    float: left;
    margin-right: 30px;
    width: 177px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
}
#foto .foot p{
  margin-bottom:3px;
}
#foto .line{
  width:100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  height: 11px;
  background:black;
  margin-bottom: -11px;
  margin-top: 19px;
}
footer {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  &:before {
    content: '';
    background: #FFFFFF url(fon4.jpg) no-repeat left top;
    background-size: cover;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  p {margin-bottom: 3px;margin-top: 9px;color: #6B6B6B;}
  .otz p{
    text-align: center;
  }
  input {
    width: 328px;
    min-height: 14px;
    color: #000000;
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 6px;
  }
  h3 { padding-top: 45px}
}


#user_phone1{
  /* padding-left: 26px; */
  /* width: 308px; */
}

footer .btn_submit {
  width:200px;
  /* margin:0 auto; */
  margin-top: 9px;
  margin-left: 74px;
}
footer .inp3{
  width: 332px;
  height: 52px;
  padding: 5px;
}

::-webkit-input-placeholder {font-style: italic;	color:#C4C4C4;}
::-moz-placeholder          {font-style: italic;	color:#C4C4C4;}/* Firefox 19+ */
:-moz-placeholder           {font-style: italic;	color:#C4C4C4;}/* Firefox 18- */
:-ms-input-placeholder      {font-style: italic;	color:#C4C4C4;}

footer .contact {

}
footer .reg{
  ul {
    margin-left: 29px;
    color: #e64242;
    &.green {
      color: #177b38;
    }
  }
}
.feadback_wrapper {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  &:before {
    content: '';
    background: #FFFFFF url(fon4.jpg) no-repeat left top;
    background-size: cover;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
  }
}
.new_feadback {
  position: relative;
  z-index: 99;
  width: 860px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-left: 90px;
  .field {
    margin-bottom: 20px;
    input {
      width: auto;
      width: 284px;
    }
    textarea {
      height: 80px;
    }
  }
  label {
    display: block;
    width: 95px;
    float: left;
    padding-top: 5px;
  }
  .submit_fild {
    margin-left: 95px;
  }
  ul {
    margin-left: 20px;
    margin-bottom: 18px;
    color: #e64242;
    list-style: circle;
    &.green {
      color: #177b38;
    }
  }
}

footer .form_registration{
  width: 368px;
  margin: 0 auto;
  border: 3px solid #f2f146;
  padding: 20px 27px 30px 27px;
  border-radius: 5px;
  background: rgba(242, 241, 70, 0.49);
  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #2f2d2d;
    font-family: open-sans, sans-serif;
    padding-left: 10px;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bfb9b9;
    border-radius: 5px;
    height: 35px;
  }
  input[type='submit'] {
    margin-top: 25px;
    width: 43%;
    background: none;
    border: 3px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 6px;
    height: auto;
    &:hover {
      background: white!important;
      color: #615f5f;
    }
  }
  .submit_fild {
    text-align: center;
  }
}
footer #result_div_id1{text-align: right;color: #6B6B6B;font-family: open-sans, sans-serif;font-weight: 400;margin-right: 30px;position: absolute;margin-top: 393px;margin-left: 61px;}
footer .head{

}

footer .otz{
  width:400px;
  margin:0 auto;
}
